[submodule "reveal.js-plugins"]
	path = reveal.js-plugins
	url = https://github.com/rajgoel/reveal.js-plugins.git
[submodule "reveal-paperjs"]
	path = reveal-paperjs
	url = https://github.com/MatthewTurk/reveal-paperjs
